<h1>Sandbox1#projects</h1>
<p>Find me in app/views/sandbox1/projects.html.erb</p>





<% restaurant = JSON.parse('
{
  "R": {
    "res_id": 16774318
  },
  "apikey": "bbaa7f2f778234292b1ace341832669b",
  "id": "16774318",
  "name": "Otto Enoteca & Pizzeria",
  "url": "https://www.zomato.com/new-york-city/otto-enoteca-pizzeria-greenwich-village?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
  "location": {
    "address": "5th Avenue 8th Street, New York, NY 10003",
    "locality": "Greenwich Village",
    "city": "New York City",
    "city_id": 280,
    "latitude": "40.7320138889",
    "longitude": "-73.9961555556",
    "zipcode": "10003",
    "country_id": 216
  },
  "cuisines": "Pizza, Italian",
  "average_cost_for_two": 60,
  "price_range": 4,
  "currency": "$",
  "offers": [],
  "thumb": "https://b.zmtcdn.com/data/pictures/8/16774318/758217fbcf5f93974f7fe6a6cc78b16e_featured_v2.jpg",
  "user_rating": {
    "aggregate_rating": "4.0",
    "rating_text": "Very Good",
    "rating_color": "5BA829",
    "votes": "1067"
  },
  "photos_url": "https://www.zomato.com/new-york-city/otto-enoteca-pizzeria-greenwich-village/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop",
  "menu_url": "https://www.zomato.com/new-york-city/otto-enoteca-pizzeria-greenwich-village/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop",
  "featured_image": "https://b.zmtcdn.com/data/pictures/8/16774318/758217fbcf5f93974f7fe6a6cc78b16e_featured_v2.jpg",
  "has_online_delivery": 0,
  "is_delivering_now": 0,
  "deeplink": "zomato://restaurant/16774318",
  "has_table_booking": 0,
  "events_url": "https://www.zomato.com/new-york-city/otto-enoteca-pizzeria-greenwich-village/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",



  "reviews_count": 54,
  "reviews_start": 0,
  "reviews_shown": 5,
  
  

    "user_reviews": [
    {
      
        "rating": 3,
        "review_text": "I definitely enjoy going back to Otto as I am a pizza lover. Lots of choices, and I think we tried them all. Some of the pizzas miss the mark by being \"too much\". For example, I had high hopes for the tellagio and mushroom pie but the tellagio overpowered the pizza completely and was too rich to enjoy! However, the simpler menu items are great. I love the frito misto mushroom appetizer! Very good. And the caponatina was amazing. The pastas are also great - the goat cheese agnolotti was my most r...",
        "id": "25792145",
        "rating_color": "CDD614",
        "review_time_friendly": "11 months ago",
        "rating_text": "Average",
        "timestamp": 1450626201,
        "likes": 0
      },
        {
          "name": "ARB",
          "zomato_handle": "arbny",
          "foodie_level": "Connoisseur",
          "foodie_level_num": 12,
          "foodie_color": "e95151",
          "profile_url": "https://www.zomato.com/arbny?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/37d/d960d45ec19b360df02b8117529d437d.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/21244646"
        }
        
  
   ]

}
    ')
%>

 
<br/>
<b> Restaurent Name </b>   - <%= restaurant["name"] %><br/>
<b> Restaurent Link </b>   - <%= link_to "visit", restaurant["url"] %><br/>
<b> Restaurent Thumb</b>   - <br/> <%= image_tag(restaurant["thumb"]) %><br/>
<b> Restaurent Location </b> - <%= restaurant["location"] %><br/>
<b> Restaurent Cuisines</b> - <%= restaurant["cuisines"] %><br/>
<b> Restaurent Average_Cost_For_Two_Items </b> - <%= restaurant["average_cost_for_two"] %><br/>
<b> Restaurent Price_Range</b> - <%= restaurant["price_range"] %><br/>
<b> Restaurent Currency </b> - <%= restaurant["currency"] %><br/>
<b> Restaurent Offers </b> - <%= restaurant["offers"] %><br/>
<b> Restaurent User Rating </b> - <%= restaurant["user_rating"] %><br/>
<b> Restaurent Photo Url</b>   - <%= link_to "Photos", restaurant["photos_url"] %><br/> 
<b> Restaurent Menu Url</b>   - <%= link_to "Menu", restaurant["menu_ur"] %><br/> 
<b> Restaurent Featured Image</b>   - <br/> <%= image_tag(restaurant["featured_image"]) %><br/>
<b> Restaurent Has Online Delivery </b> - <%= restaurant["has_online_delivery"] %><br/>
<b> Restaurent Is Delivering Now </b> - <%= restaurant["is_delivering_now"] %><br/>
<b> Restaurent Deeplink </b>   - <%= link_to "Link", restaurant["deeplink"] %><br/>
<b> Restaurent Has Table Booking </b> - <%= restaurant["has_table_booking"] %><br/>
<b> Restaurent Events</b>   - <%= link_to "events url", restaurant["events_url"] %><br/>
<b> Restaurent Rating </b>   - <%= restaurant["reviews_count"] %><br/>
<b> Restaurent Shown </b>   - <%= restaurant["reviews_shown"] %><br/>
<b> Restaurent User Reviews </b> -  <% restaurant["user_reviews"].first %><br/>  
 <b> Restaurent User Reviews </b> - <% restaurant["user_reviews"].each do |user| %>
 <%=   user["rating"] %>
 <% end %><br/>
 <b> Restaurent Reviews Rating</b> - <% restaurant["user_reviews"].each do |user| %>
 <%= user["review_text"] %>
 <% end %><br/>
 <b> Restaurent Restaurent ID</b> - <% restaurant["user_reviews"].each do |user| %>
<%= user["id"] %>
 <% end %><br/>
 <b> Restaurent  Rating Color</b> - <% restaurant["user_reviews"].each do |user| %>
 <%= user["rating_color"] %>
 <% end %><br/>
 <b> Restaurent  Name</b> - <% restaurant["user_reviews"].each do |user| %>
 <%= user["name"] %>
 <% end %><br/><br/>
 <b> Foodie Level</b> - <% restaurant["user_reviews"].each do |user| %>
 <%= user["foodie_level"] %>
 <% end %><br/><br/>
 <b> Profile Url</b> - <% restaurant["user_reviews"].each do |user| %>
 <%= link_to "url", user["profile_url"] %>
 <% end %><br/>
 
 <b> Profile Image</b> - <% restaurant["user_reviews"].each do |user| %>
 <%= link_to "image", user["profile_image"] %>
 <%= image_tag(user["profile_image"]) %>
 <% end %><br/><br/>
 